name: install_and_test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install pytest pytest-cov
        pip install -e .[complete]
    - name: Run tests with pytest
      run: |
         HDF5_USE_FILE_LOCKING=FALSE python -m pytest --cov=ipwgml tests/ --durations=0
